<!DOCTYPE html>
<html>
    <head>   
        <meta name="viewport" content="width=device-width" />
        <title>Who's Your Secret Santa?</title>
        <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    </head>
    <body>
        <main class="container" id="main">
            @RenderBody()
        </main>
    </body>
</html>
