@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="row" id="no-active_parties">
        <p class="center-block">У вас нет активных вечеринок</p>
        <a class="btn btn-success center-block">Создать</a>
    </div>
</section>
